<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ontology.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.ontology.dao.Order">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="buyer_ontid" jdbcType="VARCHAR" property="buyerOntid" />
    <result column="supply_ontid" jdbcType="VARCHAR" property="supplyOntid" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="buyer_tx" jdbcType="LONGVARCHAR" property="buyerTx" />
    <result column="supply_tx" jdbcType="LONGVARCHAR" property="supplyTx" />
    <result column="buyer_event" jdbcType="LONGVARCHAR" property="buyerEvent" />
    <result column="supply_event" jdbcType="LONGVARCHAR" property="supplyEvent" />
    <result column="buyer_height" jdbcType="INTEGER" property="buyerHeight" />
    <result column="supply_height" jdbcType="INTEGER" property="supplyHeight" />
  </resultMap>
</mapper>