<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ontology.mapper.OrderMapper">
  <resultMap id="BaseResultMap" type="com.ontology.dao.Order">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="VARCHAR" property="id" />
    <result column="buyer_ontid" jdbcType="VARCHAR" property="buyerOntid" />
    <result column="seller_ontid" jdbcType="VARCHAR" property="sellerOntid" />
    <result column="buy_tx" jdbcType="LONGVARCHAR" property="buyTx" />
    <result column="sell_tx" jdbcType="LONGVARCHAR" property="sellTx" />
    <result column="cancel_tx" jdbcType="LONGVARCHAR" property="cancelTx" />
    <result column="confirm_tx" jdbcType="LONGVARCHAR" property="confirmTx" />
    <result column="buy_event" jdbcType="LONGVARCHAR" property="buyEvent" />
    <result column="sell_event" jdbcType="LONGVARCHAR" property="sellEvent" />
    <result column="cancel_event" jdbcType="LONGVARCHAR" property="cancelEvent" />
    <result column="confirm_event" jdbcType="LONGVARCHAR" property="confirmEvent" />
    <result column="buy_date" jdbcType="DATE" property="buyDate" />
    <result column="sell_date" jdbcType="DATE" property="sellDate" />
    <result column="cancel_date" jdbcType="DATE" property="cancelDate" />
    <result column="confirm_date" jdbcType="DATE" property="confirmDate" />
    <result column="state" jdbcType="VARCHAR" property="state" />
  </resultMap>
</mapper>