<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ontology.mapper.SecureMapper">
  <resultMap id="BaseResultMap" type="com.ontology.dao.Secure">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="ontid" jdbcType="VARCHAR" property="ontid" />
    <result column="secure" jdbcType="VARCHAR" property="secure" />
  </resultMap>
</mapper>